/* Input.css */

@import "../../../variables.css"; /* Import variables.css for access to variables */

.input-container {
	display: flex;
	flex-direction: column;
	margin-bottom: var(--spacing-md);
}

.input-label {
	font-size: 16px;
	margin-bottom: var(--spacing-xs);
	color: var(--secondary-color);
}

.input-content {
	display: flex;
	gap: var(--spacing-sm);
}
