.History {
	margin-top: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	height: 95vh;
	overflow: auto;
	background: var(--hrColor);
	padding: 0.5rem;
	border-radius: 1rem;
	border: 5px solid var(--hrColor);
}
