.Home {
	position: relative;
	display: grid;
	grid-template-columns: 20rem auto;
	gap: 1rem;
}

/* @media screen and (max-width: 768px) {
	.Home {
		top: 2.5rem;
		grid-template-columns: auto;
	}
} */
