/* Logo.css */

@import "../../../variables.css"; /* Import variables.css for access to variables */

.logo {
	overflow: hidden; /* Ensure the image stays within the container */
	border-radius: var(
		--border-radius
	); /* Rounded corners for square logo */
	aspect-ratio: 1/1; /* Square shape for square logo */
}

.logo.circular {
	border-radius: 50%; /* Circular shape for circular logo */
}

.logo-image {
	width: 100%;
	height: 100%;
	object-fit: cover; /* Ensure the logo fills the container */
}
