/* Card.css */
@import "../../../variables.css";

.card {
	padding: var(--spacing-md);
	border: 1px solid var(--light-color);
	border-radius: var(--border-radius);
	box-shadow: var(--shadow-sm);
	transition: var(--transition);
}

.card:hover {
	box-shadow: var(--shadow-md);
}

.card-title {
	font-size: var(--font-size-base);
	font-weight: bold;
	margin-bottom: var(--spacing-sm);
}

.card-description {
	font-size: var(--font-size-base);
	color: var(--dark-color);
}
