.PostShare {
	display: flex;
	gap: 1rem;
	background-color: var(--white);
	padding: 1rem;
	border-radius: 1rem;
	flex-direction: column;
	gap: 1rem;
}

.PostShare > input,
.PostShare > textarea {
	background-color: var(--inputColor);
	border-radius: 10px;
	padding: 10px;
	font-size: 14px;
	border: none;
	outline: none;
	font-family: "Poppins", sans-serif;
}
.PostShare > textarea {
	height: 12rem;
}

.PostShare .addNews {
	width: max-content;
	padding: 1rem;
}
