.Profile {
	position: relative;
	gap: 0.5rem;
}

.ProfilePage-Center {
	display: flex;
	flex-direction: column;
	height: 98vh;
	gap: 0.5rem;
}

/* @media screen and (max-width: 768px) {
	.Profile {
		grid-template-columns: auto;
		overflow-y: scroll;
	}
	.ProfilePage-Center {
		height: auto;
	}
} */
