* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

body {
	padding-top: 5rem;
}
.container {
	overflow-y: scroll;
	max-width: 700px;
}
form.input_news {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.list-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	flex-wrap: wrap-reverse;
}
.news_detail {
	text-align: justify;
}

.news_detail .headline {
	font-size: 1.5rem;
	font-weight: bold;
}

.news_detail .summary {
	font-size: 1rem;
}

.news_detail .source {
	margin-top: 0.4rem;
	font-size: 1rem;
	color: #bb2765;
}

.news_details_footer {
	color: #bb2765;
	display: flex;
	justify-content: space-between;
}

.btn-add {
	background-color: #bb2765;
	border: none;
	color: white;
	font-weight: 900;
}

.tools {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
}

.download {
	font-size: larger;
	padding: 0.5rem;
	border-radius: 5px;
	height: 2.5rem;
	color: #bb2765;
	background-color: white;
}
.download:hover {
	cursor: pointer;
	color: white;
	background-color: #bb2765;
}
.modal-footer {
	display: flex;
	justify-content: space-between;
}
.modal-footer .yes-no {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}
.list-news-table {
	border: 1px solid #282c3450;
	margin: 1rem 0;
	border-radius: 1rem;
	overflow: hidden;
}
.list-news-table .title {
	padding: 0.4rem 1rem;
	display: flex;
	background-color: #bb276510;
	justify-content: space-between;
	align-items: center;
	* {
		text-align: center;
	}
}

.list-news-table .rows {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #282c3440;
	h6 {
		min-height: 4rem;
		height: max-content;
		overflow: hidden;
		font-size: small;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0.5rem 0.5rem;
	}
}
.list-news-table .rows .buttons {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 0.3rem;
	padding: 0.4rem;
	width: 5rem;
	border-left: 1px solid #282c3450;
}

.list-news-table .rows .buttons > button {
	color: white;
	border: none;
	padding: 0.4rem;
	border-radius: 50rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.list-news-table .rows .buttons .edit-btn {
	background-color: #eeb13e;
}

.user-profile .edit-btn {
	width: 10rem;
	height: 3rem;
}
.list-news-table .rows .buttons .delete-btn {
	background-color: rgb(226, 20, 20);
}

.list-news-table .no-news {
	align-items: center;
	justify-content: center;
}
