body {
	font-family: "Poppins", sans-serif;
	background: var(--color-bg);
	color: var(--color-white);
	margin: 0;
	padding: 0;
	height: 100vh;
	background-image: linear-gradient(to right, #434343 0%, black 100%);
}

nav {
	position: fixed;

	bottom: 0;
	width: 100%;

	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 3rem;
	overflow: hidden;

	background-color: #169348;
	visibility: visible;
	overflow-x: scroll;
}

.scroll-left {
	position: fixed;
	left: 0;
	padding: 0 1rem;
	background-color: #169348;
	cursor: pointer;
}

.scroll-right {
	position: fixed;
	right: 0;
	padding: 0 0.8rem;
	background-color: #169348;
	cursor: pointer;
}
nav .nav-list {
	overflow-x: scroll;
	scroll-behavior: smooth;
}
nav ul {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
}
nav ul a {
	padding: 1rem;
}
nav ul a:hover {
	background-color: #44603f;
	z-index: 1;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.table-mini {
	padding: 1rem;
	position: fixed;
	top: 2.7rem;
	margin: auto 0;
	border: 0.1px solid #21ab58;
	width: 40rem;
	height: 50rem;
	border-radius: 1.5rem;
	overflow-y: scroll;
	border-collapse: collapse;
	visibility: visible;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 20px, rgba(0, 0, 0, 0.12) 0px 2px 4px,
		rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 6px 6px,
		rgba(0, 0, 0, 0.09) 0px 2px 2px;
	background-image: linear-gradient(to top, #434343 0%, black 100%);
}

.table-mini ul li {
	border-radius: 1.5rem;
	overflow: hidden;
	color: var(--color-text);
	padding: 0.4rem 1rem;
	background-color: #3f4b42;
	cursor: pointer;
	height: 100%;
	height: fit-content;
	margin: 0.5rem 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 5rem;
}

.table-mini ul li a {
	width: 100%;
}

.table-mini ul li p {
	width: 100%;
	font-size: small;
	font-style: italic;
}

.table-mini ul li:hover {
	background-color: #85ffbd;
	background-image: linear-gradient(45deg, #3b7d59 36%, #514f21 93%);
}

h3 {
	font-size: larger;
}

.active {
	background-color: #434343;
	z-index: 1;
}
.pending {
	background-color: #323e30;
	z-index: 1;
}

.future {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	font-weight: bolder;
}

.download button {
	border-radius: 2rem;
	padding: 0.3rem 2rem;
	background-color: #169348;
	color: var(--color-white);
	font-size: 1rem;
	margin: 0.4rem;
	z-index: 1;
	width: 40rem;
}
@media (max-width: 768px) {
	.table-mini {
		max-width: 90%;
		height: 85%;
	}

	.download button {
		width: fit-content;
	}
	nav ul {
		margin: 3rem;
	}
	nav ul a {
		background-color: transparent;
	}
	nav ul a:hover {
		background-color: #434343;
		z-index: 1;
	}
}
