body {
	font-family: "Poppins", sans-serif;
	background: var(--color-bg);
	color: var(--color-white);
	margin: 0;
	padding: 0;
	height: 100vh;
	background-image: linear-gradient(to right, var(--color-bg) 0%, black 100%);
}

.container {
	gap: 0.8rem;
	height: 100vh;
	background-image: url("./assets/hover.png");
}

nav {
	top: 0;
	width: 100%;
	height: 6rem;
	position: fixed;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0 3rem;
	gap: 4rem;
}

nav a {
	overflow: hidden;
	width: 12rem;
	height: 5rem;
	margin-left: -2rem;
}

nav img {
	width: 18rem;
	margin-left: -4.3rem;
	margin-top: -3rem;
	overflow: hidden;
}

nav > div {
	gap: 10%;
}

nav .month {
	cursor: pointer;
	padding: 0.5rem;
	border-radius: 0.5rem;
	width: 10rem;
	background-color: var(--color-primary);
}

nav .months {
	position: absolute;
	text-decoration: none;
	overflow-y: scroll;
	background-color: var(--color-white);
	box-shadow: var(--box-shadow);
	border-radius: 0.5rem;
	transform: translate(0rem, 18rem);
	height: 500px;
	border-radius: 0.5rem;
	z-index: 1;
}

nav .months a {
	margin: 0.5rem;
	width: 160px;
	color: black;
	padding: 13px 16px;
	text-decoration: none;
	display: block;
	border-radius: 0.5rem;
	height: min-content;
}

nav .months a:hover {
	background-color: #ddd;
}

.table-mini {
	z-index: 0;
	padding: 1rem;
	margin: auto 0;
	border: 1px solid var(--color-accent);
	width: 30rem;
	height: 75vh;
	border-radius: 1.5rem;
	border-collapse: collapse;
	visibility: visible;
	box-shadow: var(--box-shadow);
	background-image: linear-gradient(to top, var(--color-bg) 0%, black 100%);
	max-width: 90%;
	overflow: hidden;
	transform: translate(0, 1.5rem);
}
.table-mini .table-mini-inner {
	border-radius: 0.5rem;
	height: 72vh;
	overflow-y: scroll;
}

.table-mini ul .daily-header .download {
	width: 2.5rem;
	height: 2.5rem;
	cursor: pointer;
	border-radius: 0.5rem;
}
.table-mini ul .daily-header .download:hover {
	background-color: var(--color-primary);
}

.table-mini ul li {
	border-radius: 0.5rem;
	overflow: hidden;
	color: #8ecae6;
	padding: 0.4rem 1rem;
	background-color: #454946;
	cursor: pointer;
	height: fit-content;
	margin: 0.5rem 0;
}

.table-mini ul li a {
	width: 100%;
}

.table-mini ul li p {
	width: 100%;
	font-size: 12px;
	font-style: italic;
}

.table-mini ul li:hover {
	background-image: url("./assets/hover.png");
}

h3 {
	font-size: large;
}
strong {
	color: var(--color-primary);
}

.active {
	background-color: var(--color-primary);
}

.future {
	height: 100%;
	font-weight: bolder;
}

.error {
	height: 100vh;
}

.error .content {
	text-align: center;
}

.heading {
	font-size: 3rem;
	margin-bottom: 1rem;
	color: var(--color-primary);
}

.error .message {
	font-size: 1.2rem;
	margin-bottom: 2rem;
	color: var(--color-white);
}

.error .link {
	font-size: 1rem;
	color: #00ff57; /* Blue color for link */
	text-decoration: none;
	font-weight: bold;
}

.footer-socials {
	width: 100%;
	max-width: 40rem;
	color: var(--color-white);
	background-color: var(--color-primary);
	height: 3rem;
}

.footer-socials a {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 2rem;
	height: 2rem;
}
