body {
	font-family: "Poppins", sans-serif;
	background: var(--color-bg);
	color: var(--color-white);
	margin: 0;
	padding: 0;
	height: 100vh;
	background-image: linear-gradient(to right, var(--color-bg) 0%, black 100%);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	gap: 0.8rem;
	height: 100vh;
}

nav {
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--color-accent);
	overflow-x: scroll;
	overflow: visible;
	min-height: 3rem;
}

.scroll-left,
.scroll-right {
	padding: 0 10px;
	display: flex;
	align-items: center;
	cursor: pointer;
	height: 100%;
}

.scroll-left {
	left: 0;
}

.scroll-right {
	right: 0;
}

nav .nav-list {
	overflow-x: scroll;
	display: flex;
	scroll-behavior: smooth;
	align-items: center;
	width: 85%;
}

nav .nav-list a {
	padding: 1rem;
	width: 100%;
	height: 100%;
}

nav ul a:hover {
	background-color: #fb8500;
}

.table-mini {
	padding: 1rem;
	top: 2.7rem;
	margin: auto 0;
	border: 1px solid var(--color-accent);
	width: 40rem;
	height: 50rem;
	border-radius: 1.5rem;
	overflow-y: scroll;
	border-collapse: collapse;
	visibility: visible;
	box-shadow: var(--box-shadow);
	background-image: linear-gradient(to top, var(--color-bg) 0%, black 100%);
}

.table-mini ul li {
	border-radius: 1.5rem;
	overflow: hidden;
	color: #8ecae6;
	padding: 0.4rem 1rem;
	background-color: #454946;
	cursor: pointer;
	height: fit-content;
	margin: 0.5rem 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.table-mini ul li a {
	width: 100%;
}

.table-mini ul li p {
	width: 100%;
	font-size: 12px;
	font-style: italic;
}

.table-mini ul li:hover {
	background-color: #85ffbd;
	background-image: linear-gradient(45deg, #3b597d 36%, #51214f 93%);
}

h3 {
	font-size: large;
}
strong {
	color: #fb8500;
}

.active {
	background-color: #fb8500;
}

.pending {
	background-color: #43434310;
}

.future {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	font-weight: bolder;
}

.download button {
	border-radius: 2rem;
	padding: 1rem 2rem;
	background-color: var(--color-accent);
	color: var(--color-white);
	font-size: 20px;
	margin: 0.4rem 0 0 0;
}

@media (max-width: 768px) {
	.container {
		height: 90vh;
	}
	.table-mini {
		max-width: 90%;
	}
	.active,
	.pending {
		border-radius: 1rem 1rem 0 0;
	}

	nav ul a:hover {
		border-radius: 1rem 1rem 0 0;
	}
}
